html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow: auto;
    color: #444444;
    display: flex;
    flex-direction: column;
    scroll-padding-top: 10%;
}

body h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: bold;
    color: #000000;
}

body h2 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: bold;
    color: #000000;
}

body a {
    color: #000000;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 0 1rem 0;
}

body h1 {
    margin: 0;
}

body ul {
    list-style: none;
    padding: 0;
}

body .container {
    display: flex;
    max-width: 980px;
    margin: 20px 0 20px;
    padding: 0 30px;
}

.js-enabled .fade-in {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

body main {
    transition: padding-top 0.3s ease-in-out;
}

body main .container audio {
    width: 40px;
}

body main .container img {
    width: 100%;
}

body main .container .table-container {
    width: 100%;
    overflow-x: auto;
}

body main .container .table-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    min-width: 400px;
}

body main .container .table-container th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

body main .container .table-container th {
    background-color: #f4f4f4;
}

body main .container .table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

body main .container .table-container tr:hover {
    background-color: #f1f1f1;
}

body header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: white;
    z-index: 9999;
}

body header.sticky {
    position: sticky;
}

body header.sticky .container{
    margin: 16px auto 0;
}

body header .container {
    max-width: 980px;
    margin: 140px auto 0;
    padding: 0 30px;
    justify-content: space-between;
}

body header .container nav {
    display: flex;
    align-items: center;
}

body header .container .links {
    display: flex;
    gap: 20px;
}

body header .container .links li {
    display: flex;
    align-items: center;
    gap: 5px;
}

body header .container .links img {
    height: 16px;
}

body header .container .links a {
    font-size: 1rem;
}

body .sub-header {
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
}


body .sub-header .container {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #000000;
    max-width: 980px;
    padding: 20px 0 60px;
    margin: 0 auto;
}

body .sub-header .container p:not(:last-child) {
    margin-bottom: 0.1rem;
}

body .sub-header .container p:last-child {
    margin-bottom: 0;
}

body .sub-header .container .links {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    white-space: nowrap;
    gap: 5px;
}

body .sub-header .container .links li {
    display: inline; /* Keep list items in a row */
}

body .sub-header .container .links li:not(:last-child)::after {
    content: ',\00a0';
}

/* Optional: Hide scrollbar but allow scrolling */
body .sub-header .container .links::-webkit-scrollbar {
    display: none;
}

body main {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 30px auto 20px;
    padding: 0 30px;
    flex: 1;
}

body main .container {
    flex-direction: column;
    padding: 60px 0;
    max-width: 980px;
}

body main .container:first-child {
    padding: 0 0 60px;
}

body main .container:not(:first-child) {
    border-top: 1px solid #000000;
}

body main .container p:last-child {
    margin-bottom: 0;
}

body main .container pre {
    background-color: #f5f5f5;
    padding: 20px;
    overflow-x: auto;
    display: block;
    white-space: pre-wrap;
    max-width: 100%;
}

body footer {
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
}

body footer .container {
    border-top: 1px solid #000000;
    padding: 60px 0;
    margin: 0 auto;
    max-width: 980px;
}

@media (max-width: 768px) {
    body header .container {
        flex-direction: column;
        align-items: left;
    }

    body header .container {
        align-items: start;
        margin: 10px auto 0;
    }

    body .sub-header .container {
        padding-top: 20px;
        margin: 0 auto 10px;
    }

    body header .container .links {
        padding: 0;
    }

    body main .container {
        padding: 20px 0;
    }

    body main .container .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    body footer .container {
        padding: 20px 0;
        margin: 0;
    }
}
